pandas
pyalgotrade~=0.20
matplotlib
tushare~=1.2.89
cryptography
akshare
numpy
backtrader~=1.9.76.123
requests
lxml~=4.9.2
git+https://github.com/happydasch/btplotting
tabulate~=0.9.0

pyyaml
akshare
sqlalchemy
pymysql
lib-pybroker