# common
pandas
numpy==1.26.4
matplotlib
tqdm
# mysql
sqlalchemy
pymysql

# fetch data
akshare
tushare
baostock

# backtest
lib-pybroker
backtrader
# backtrader_plotting
git+https://github.com/happydasch/btplotting
pyalgotrade

# stock_analyze
stockstats

# reinforcement learning
stable-baselines3
gymnasium
tensorboard