# common
pandas
numpy==1.26.4
matplotlib

# mysql
sqlalchemy
pymysql

# fetch
akshare
tushare
baostock

# backtest
lib-pybroker
backtrader
# backtrader_plotting
git+https://github.com/happydasch/btplotting
pyalgotrade
